body{
   /* background: url(https://images.pexels.com/photos/3389613/pexels-photo-3389613.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)  ;*/
   background-repeat: no-repeat;
   background-size:cover; 
   height: auto;
   background-color: #f5f5f5;
}